torch==2.0.0
transformers==4.29.2
huggingface-hub==0.14.1
peft==0.4.0
accelerate==0.19.0
datasets==2.10.0
deepspeed==0.8.3
evaluate==0.3.0
fire==0.5.0
hydra-core==1.2.0
numpy==1.25.2
omegaconf==2.3.0
openai==0.27.2
rouge_score==0.1.2
nltk==3.6.2
sentencepiece==0.1.98
pydantic==1.10.7
gdown==5.0.0
wandb
