torch==2.0.0
transformers==4.29.2
peft==0.4.0
huggingface-hub==0.14.1
datasets==2.10.0
fire==0.5.0
evaluate==0.3.0
rouge_score==0.1.2
accelerate==0.19.0
deepspeed==0.8.3
hydra-core==1.2.0
numpy==1.25.2
omegaconf==2.3.0
nltk==3.6.2
sentencepiece==0.1.98
pydantic==1.10.7
fsspec==2023.9.2
gdown
wandb